
body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

button {
  background-color: purple;
  color: white;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.categoria {
  margin-bottom: 30px;
}
